.form-wrapper {
  width: 90%;
  margin: 0 auto;

  h2 {
    font-weight: bold;
    text-align: center;
  }
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-content {

  margin-bottom: 30px;

  input {
    width: 400px;
    padding: 10px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 6px;

  }

  textarea {
   width: 400px;
   padding: 15px;
   border: 1px solid;
   border-color: lightgrey;
   border-radius: 6px;
 }

}

.form-last {
  margin-bottom: 40px;
}


@media(min-width: 100px)and(max-width: 600px) {
  .form-content {
    text-align: left;
    margin-bottom: 30px;

    input {
      width: 100%;

    }

    textarea {
     width: 100%;
   }

 }

 .form-container {

  text-align: left;
}
}
