.description {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 70px;
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  h3 {
    font-size: 18px;
  }
}


// cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 40px;
}

.category {
  padding: 16px;
  text-align: center;

  i {
    font-size: 50px;
  }
  h1 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}


@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 575px) {

  .description {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
    h3 {
      font-size: 17px;
    }
  }

  .category {
    padding: 16px;
    text-align: center;

    i {
      font-size: 44px;
    }
    h1 {
      margin-top: 20px;
      font-size: 15px;
      font-weight: bold;
    }
    p {
      font-size: 13px;
    }
  }

}
// images

.img-container {
  width: 100%;
  background-color: lightgrey;

}

.img-description {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 70px;
  h1 {
    font-size: 30px;
    font-weight: bold;

  }
  h3 {
    font-size: 18px;
  }
}

.images {
  width: 80%;
  margin: 0 auto;

  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  text-align: center;
  margin-bottom: 60px;
}

.images-1 {
 img {
  width: 300px;
  height: 170px;
  border-radius: 6px;
  margin-bottom: 20px;

}
}

@media (min-width: 100px) and (max-width: 675px) {
  .images {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 676px) and (max-width: 1075px) {
  .images {
    grid-template-columns: 1fr 1fr;
  }
}



//content
.content-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 60px;
  // margin-bottom: 60px;

}
.content {
  padding: 20px;
  text-align: center;
  h1 {
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    color: grey;
  }

  img {
    width: 300px;
    border-radius: 6px;
  }
}

.content-img {
  img {
    width: 540px;
    padding: 20px;


  }
}

@media (max-width: 785px) {
  .content-container {
    text-align: center;
  }

  .content {
    text-align: center;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 10px;
      color: grey;
    }
    img {
      width: 150px;
    }
  }
  .content-img {
    img {
      width: 450px;

    }
  }
}



@media (max-width: 675px) {
  .content-container {
    display: block;
    text-align: center;
  }

  .content {
    img {
      display: none;
    }
  }
  .content-img {
    img {
      width: 300px;

    }
  }
}



// carousel

.carousel-control-next-icon {
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  border: 10px solid;
  border-color: black;

}

.carousel-control-prev-icon {
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  border: 10px solid;
  border-color: black;

}

.carousel-indicators li {
  background-color: black;
}


.carousel-caption {

  text-align: center;
  margin-bottom: 360px;
  h5 {
    color: black;
    font-weight: bold;
    font-family: italic;
    font-style: italic;
  }

  p {
    color: grey;
  }
}

@media (min-width: 1076px) {

  .carousel-item {
    img {
      height: 80vh;
    }
  }

}


@media (min-width: 100px) and (max-width: 675px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 95px;
    h5 {
      font-size: 12px;
    }
    p {
      font-size: 10px;

    }
  }
}

@media (min-width: 676px) and (max-width: 768px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1075px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 360px;
  }
}
/// IMAGE HOVER PART-1

.wrapper {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  justify-items: center;
  margin-bottom: 60px;



}

@media (max-width: 900px) {
  .wrapper {

    grid-template-columns: 1fr ;
    grid-gap: 15px;
    padding: 10px;

  }
}

.img-1 {
  width: 320px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }


}

.img-2 {
  width: 320px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}

.img-3 {
  width: 320px;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
  }

}
.hovereffect-1 {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect-1 .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect-1 img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect-1 h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect-1 a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect-1 a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect-1:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect-1:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect-1:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/// IMAGE HOVER PART-2


.img-hover {
  img {
    width: 100%;
  height: 90vh;
}
}

@media (max-width: 1024px) {
   .img-hover {
  img {
    width: 100%;
  height: auto;
}
}
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect hr {
  width: 40%;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 1px solid #FFF;
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(4) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1, 180deg) scale3d(0,0,1);
}

.hovereffect h2, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.set1, .set2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.set1 {
  top: 40%;
}

.set2 {
  top: 60%;
}

.hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 30px;
}

.set1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.set1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.set2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.set2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(4) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
}

.hovereffect:hover .set1 i:empty, .hovereffect:hover .set2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}
