<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1559064653/photo-1534972195531-d756b9bfa9f2.jpg);">
  <div class="container">
    <h1>Build the website of your dreams </h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to 'Contact us', new_contact_path, class: 'button-1' %>
  </div>
</div>
