<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1559064653/photo-1534972195531-d756b9bfa9f2.jpg);">
  <div class="container">
    <h1>Build the wepage of your dreams </h1>
    <div class="typed-container">
      <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Make your dream come true.", "I am Creative.", "I Love Design." ]'>
          <span class="wrap"></span>
        </a>
      </h1>
    </div>
    <%= link_to 'Contact us', new_contact_path, class: 'button-1' %>
  </div>
</div>
