<div class="footer">
  <div class="footer-links">
    <a href="http://www.instagram.com" , target= "blank"><i class="fab fa-instagram"></i></a>
    <a href="http://www.facebook.com" , target= "blank"><i class="fab fa-facebook"></i></a>
    <a href="http://www.twitter.com" , target= "blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="mailto:youremailaddress"><p>GV-WEB</p></a>
  </div>
</div>
