<div class="container">
  <div class="description">
    <h1>The best webpage in your hands</h1>
    <h3> In only weeks your can have your dream webpage</h3>
  </div>
  <div class="cards">
    <div class="category">
      <i class="fas fa-shopping-cart"></i>
      <h1>Online Shop</h1>
      <p>Open your online shop. Sell everything you want with the best warranty</p>
    </div>
    <div class="category">
      <i class="fas fa-mobile-alt"></i>
      <h1>Ready for Phones</h1>
      <p>Your web will look cool in tablets and smartphones</p>
    </div>
    <div class="category">
      <i class="fas fa-laptop"></i>
      <h1>For your Company or personal business</h1>
      <p>We can build the web for your company.We can also build your blog or portfolio</p>
    </div>
  </div>
</div>
