<div class="cards">
  <div class="card-2">
    <div>
      <i class="fas fa-shopping-cart"></i>
      <h2>Open your online shop. Sell everything you want with the best warranty</h2>
      <%= link_to contacts_path do %>
      Learn more <i class="fas fa-greater-than"></i>
      <% end %>
    </div>
  </div>
  <div class="card-4">
    <div>
      <h2>For your Company or personal business</h2>
      <p>We can also build your blog or portfolio</p>
      <%= link_to contacts_path do %>
      Learn more <i class="fas fa-greater-than"></i>
      <% end %>
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_825/v1585838317/Captura-de-pantalla-2019-11-13-a-las-14.45.05.png" alt="">
    </div>
  </div>

  <div class="card-3">
    <div>
      <div class="d-flex justify-content-center align-items-center">
        <i class="fas fa-mobile-alt"></i>
        <h2>Ready for Phones</h2>
      </div>

      <p>Your web will look cool in tablets and smartphones</p>
      <%= link_to contacts_path do %>
      Learn more <i class="fas fa-greater-than"></i>
      <% end %>
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_802/v1585840344/1568121499_490816_1568143364_sumario_normal_recorte1.jpg" alt="">
    </div>
  </div>

  <div class="card-1" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_830/v1585841027/photo-1504639725590-34d0984388bd.jpg);">
    <div>
      <h2>In only weeks your can have your dream website</h1>
        <%= link_to contacts_path do %>
        Learn more <i class="fas fa-greater-than"></i>
        <% end %>
      </div>

    </div>

  </div>

