<div class="navbar-wrapper">
  <div class="nabvar-logo">
   <h1>GV-WEB</h1>
  </div>
  <div class="nabvar-content">
   <%= link_to "CONTACTO", "#quienes"%>
   <%= link_to "SOCIAL", "#{companys_path}#contacto" %>
   <%= link_to publics_path do %>
   <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-usa.jpg" alt="">
   <%end  %>
 </div>
</div>
