<div class="navbar-wrapper fixed-top">
  <div class="nabvar-logo">
    <%= link_to 'GV-WEB', root_path  %>
  </div>
  <div class="nabvar-content">
   <%= link_to "CONTACT", new_contact_path %>
   <%= link_to "SOCIAL", "#{root_path}#social" %>
 </div>
</div>
