<div class="navbar-wrapper">
  <div class="nabvar-logo">
   <h1>GV-WEB</h1>
  </div>
  <div class="nabvar-content">
   <%= link_to "CONTACT", new_contact_path %>
   <%= link_to "SOCIAL", "#{publics_path}#contacto" %>
   <%= link_to companys_path do %>
   <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1560951867/Argentina.gif" alt="">
   <%end  %>
 </div>
</div>
