<div class="content-container">
  <div class="content">
    <h1>We have the best of professionals </h1>
    <p>The best professionals will help you to find the best design to achieve your dreams.</p>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1559064764/photo-1517607537732-619ace47ec9e.jpg" alt="">
  </div>
  <div class="content-img">
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1559136299/photo-1522071820081-009f0129c71c.jpg" alt="">
  </div>
</div>
<div class="wrapper">
  <div class="img-1">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1559309793/photo-1525450280520-7d542a86e065.jpg" alt="">
      <div class="overlay">
        <h2>Maria Martinez</h2>
        <%= link_to 'CONTACT HIM' , new_contact_path , class: 'info'%>
      </div>
    </div>
  </div>
  <div class="img-2">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://images.unsplash.com/photo-1548958921-c5c0fe1b307d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="">
      <div class="overlay">
        <h2>Agustina Campos</h2>
        <%= link_to 'CONTACT HER' , new_contact_path , class: 'info'%>
      </div>
    </div>
  </div>
  <div class="img-3">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="">
      <div class="overlay">
        <h2>Martin Hernandez</h2>
        <%= link_to 'CONTACT HIM' , new_contact_path , class: 'info'%>
      </div>
    </div>
  </div>
</div>
