<div class="content-container">
  <div class="content">
    <h1>We have the best of professionals </h1>
    <p>The best professionals will help you to find the best design to achieve your dreams.</p>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1559064764/photo-1517607537732-619ace47ec9e.jpg" alt="">
  </div>
  <div class="content-img">
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1559136299/photo-1522071820081-009f0129c71c.jpg" alt="">
  </div>
</div>
<div class="wrapper">
  <div class="img-1">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584295662/Captura_de_Pantalla_2019-10-07_a_la_s_18.25.38.png" alt="">
      <div class="overlay">
        <h2>Guillermo Varela</h2>
        <%= link_to 'ABOUT HIM' , about_path , class: 'info'%>
      </div>
    </div>
  </div>
  <div class="img-1">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
      <div class="overlay">
        <h2>Agustina Campos</h2>
        <%= link_to 'CONTACT HER' , new_contact_path , class: 'info'%>
      </div>
    </div>
  </div>
  <div class="img-1">
    <div class="hovereffect-1">
      <img class="img-responsive" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="">
      <div class="overlay">
        <h2>Martin Hernandez</h2>
        <%= link_to 'CONTACT HIM' , new_contact_path , class: 'info'%>
      </div>
    </div>
  </div>
</div>
