<div class="about-wrapper">
  <h2>ABOUT ME</h2>
  <div class="about-container">
    <div class="image-about">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584295662/Captura_de_Pantalla_2019-10-07_a_la_s_18.25.38.png" alt="">
    </div>
    <div class="about-description">
      <p>I've completed Le Wagon coding bootcamp (Paris, Batch #200 - dec 2018) to add technical skills to my creative profile (HTML, CSS, Bootstrap, Javascript, RubyOnRails)🚀<br>
        Passionate about the tech/startup environment, I have always been interested in creating and managing my own projects.<br>
        Indeed, I created and developed Miranda App, a language learning plattaform (2018/2019).<br>
        After this amazing entrepreneurial experience, I keep working as a freelance creating several projects.<br>
        At the same time working as TA at Lewagon BS AS helping new tech students during the bootcamp. <br>
      Currently working as "CEO" at GV-WEB, the building web page of your life 🚀 </p>
      <div class="description-footer">
        <a href="https://www.linkedin.com/in/guillermovareladagnillo/" class="btn btn-primary" target="blank"><i class="fab fa-linkedin"></i> Linkedin</a>
        <a href="https://github.com/guillo16" class="btn btn-dark" target="blank"><i class="fab fa-github"></i> Github</a>
      </div>
    </div>
  </div>
  <!-- skills part of the page -->
    <div class="skills">
      <h2 class="mt-3">SKILLS</h2>
      <div class="skills-wrapper">
        <div class="skills-container1">
          <div class="skills-content">
           <p><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584376879/iconfinder_Ruby_on_Rails_2_282804_1.png" style="width: 20px; border: 1px solid black;"alt=""> RUBY ON RAILS</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="far fa-gem"> </i> RUBY</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-html5"></i> HTML5</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-css3"></i> SCSS</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-js"></i> JAVSCRIPT</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" >60%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-react"></i> REACT</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 45%"> 45%</div>
            </div>
          </div>
        </div>
        <div class="skills-container1">

          <div class="skills-content">
            <p><i class="fab fa-github-square"></i> GITHUB</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fas fa-bold"></i> BOOTSTRAP</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-cc-stripe"></i> STRIPE</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fas fa-database"></i> SQL</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><i class="fab fa-git-square"></i> GIT</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
            </div>
          </div>
          <div class="skills-content">
            <p><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584371101/iconfinder_jquery_282807.png" style="width: 20px;" alt=""> JQUERY</p>
            <div class="progress" style="height: 20px;">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
