<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="flag-container">
    <div class="flag-1">
     <%= link_to contacts_path do %>
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1280px-Flag_of_Argentina.svg.png" alt="">
     <h1> Version Español</h1>
     <%end  %>
   </div>
   <div class="flag">
     <%= link_to publics_path do %>
     <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1024px-Flag_of_the_United_States.svg.png" alt="">
     <h1> English Version</h1>
     <%end  %>
   </div>
  </div>
</div>
