<%= render 'shared/navbar' %>
<div class="greet-container">
  <h2> Gracias por su mensaje </h2>
  <p>Lo contactaremos pronto!</p>
  <h2> Thanks for your message</h2>
  <p>We will get back you soon</p>
</div>
<%= link_to 'go back', root_path %>


