.carousel-control-next-icon {
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  border: 10px solid;
  border-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
  padding: 10px;
  border-radius: 50px;
  border: 10px solid;
  border-color: black;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-caption {

  text-align: center;
  margin-bottom: 360px;
  h5 {
    color: black;
    font-weight: bold;
    font-family: italic;
    font-style: italic;
  }

  p {
    color: grey;
  }
}

@media (min-width: 1076px) {

  .carousel-item {
    img {
      height: 80vh;
    }
  }

}

@media (min-width: 100px) and (max-width: 675px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 95px;
    h5 {
      font-size: 12px;
    }
    p {
      font-size: 10px;

    }
  }
}

@media (min-width: 676px) and (max-width: 768px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1075px) {
  .carousel-caption {
    text-align: center;
    margin-bottom: 360px;
  }
}

