.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  background: black;

  width: 100%;
  top: 0;
}

.nabvar-content {

    a {
    margin-right: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}
.nabvar-logo {

  h1 {
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
  }
}

.navbar-cart {
  font-size: 20px;
}
